[MASTER]
init-hook='import sys; import os; from pathlib import Path; src_path = Path(os.getcwd()) / "src"; sys.path.insert(0, str(src_path))'
max-line-length=120

[MESSAGES CONTROL]
disable=C0114,C0115,C0116
